#root {
  font-family: "Raleway";
}

#root .MuiButton-label {
  text-transform: initial;
  font-size: 1.3em;
}

div {
  position: relative;
}

img {
  width: 100%;
}

#root button,
#root .MuiButton-label {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}
